body {
    font-family: 'Roboto', bold, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to top left, #1d1b1f, #211a35);
}

.box {
    background: #1b1d23;
    height: 60vh;
    width: 60vh;
    display: flex;
    border-radius: 30px 30px 30px 30px;
    color: white;
    margin: 100px auto;
    box-shadow: 0 0 150px #18171a;
    text-align: center;
}

.h1box {
    text-align: center;
    color: white;
    margin-top: 8%;
    margin-left: 30%;
    font-size: 40px;
}

.eur {
    color: white;
    text-align: center;
    margin-top: 30%;
    margin-left: -65%;
}

.enterprice {
    color: grey;
    text-align: center;
    margin-top: 47%;
}

.eurInput {
    text-align: center;
    width: 70%;
    height: 10%;
    margin-top: 35%;
    margin-left: -50%;
    background-color: #1f2228;
    border-radius: 25px;
    border-color: #5106d0;
    border: none;
    color: white;
    outline: none;
}

.rsd {
    color: white;
    text-align: center;
    margin-top: 60%;
    margin-left: -40%;
}

.priceshown {
    color: grey;
    text-align: center;
    margin-top: 7%;
    margin-left: 0%;
}

.rsdOutput {
    text-align: center;
    width: 70%;
    height: 10%;
    margin-top: 65%;
    margin-left: -30%;
    background-color: #1f2228;
    border-radius: 25px;
    border-color: #5106d0;
    color: white;
    outline: none;
}

.euflag {
    width: 3vh;
    height: 3vh;
    margin-top: -295px;
    margin-left: -8px;
    background-image: url("eu30.png");
    border-radius: 25px;
}

.srbflag {
    width: 3vh;
    height: 3vh;
    margin-top: 140px;
    margin-left: -4px;
    background-image: url("srb30.png");
    border-radius: 25px;
}

.finishPrice {
    color: #fff;
}